# Dependencies
/node_modules
/.pnp
.pnp.js
/.yarn

# Misc
/.env.*
/yarn-error.log
.DS_Store
*.pem

# Fauna
.faunarc

# Next.js
/.next
/out

# Vercel
.vercel
/**/*/.vercel

# Typescript
*.tsbuildinfo
/next-env.d.ts
