@tailwind base;

@layer base {
  :root {
    --color-red: #ea676c;
    --color-green: #57b894;
    --color-blue: #3f3d56;
    --color-yellow: #edd83d;
    --color-purple: #947bd3;
    --color-pink: #ff79c6;
    --color-dark: #30323d;
    --color-black: #21222a;
    --color-white: #f2f2f2;
    --color-true-black: #000000;
    --color-true-white: #ffffff;

    --color-body: var(--color-white-rgb);
    --color-text: var(--color-dark-rgb);
    --color-primary: var(--color-red-rgb);
    --color-accent: var(--color-dark-rgb);
    --color-info: var(--color-blue-rgb);
    --color-danger: var(--color-red-rgb);
    --color-warning: var(--color-yellow-rgb);
    --color-success: var(--color-green-rgb);

    --bg-card: rgb(var(--color-true-white-rgb));
    --bg-code: hsl(
      var(--color-dark-h) var(--color-dark-s) calc(var(--color-dark-l) + 5%)
    );
    --bg-code-highlight: hsl(
      var(--color-dark-h) var(--color-dark-s) calc(var(--color-dark-l) + 25%)
    );
    --bg-code-inline: hsl(
      var(--color-white-h) var(--color-white-s) calc(var(--color-white-l) - 55%)
    );
  }
}
