@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-red: 234 103 108;
    --color-blue: 63 61 86;
    --color-pink: 255 121 198;
    --color-dark: 48 50 61;
    --color-black: 33 34 42;
    --color-white: 242 242 242;
    --color-green: 87 184 148;
    --color-yellow: 237 216 61;
    --color-purple: 148 123 211;
    --color-true-black: 0 0 0;
    --color-true-white: 255 255 255;

    --color-body: var(--color-white);
    --color-text: var(--color-dark);
    --color-primary: var(--color-red);
    --color-accent: var(--color-dark);
    --color-info: var(--color-blue);
    --color-danger: var(--color-red);
    --color-warning: var(--color-yellow);
    --color-success: var(--color-green);

    --bg-danger: rgb(var(--color-danger) / var(--bg-opacity))
    --bg-warning: rgb(var(--color-warning) / var(--bg-opacity))
    --bg-success: rgb(var(--color-success) / var(--bg-opacity))
    --bg-info: rgb(var(--color-info) / var(--bg-opacity))
    --bg-card: var(--color-true-white);
    --bg-code: color.lighten(var(--color-dark), 5%);
    --bg-code-highlight: color.rgba(color.lighten(var(--color-dark), 25%), 0.75);
    --bg-code-inline: color.darken(var(--color-body), 55%);
  }
}

:root {
  /* background colors */


  /* font */
  --font-size: 16px;
  --line-height: 1.5;

  --font-family-heading: 'Roboto Slab';
  --font-family-body: 'Roboto';
  --font-family-code: 'Roboto Mono';
  --font-code: 600 0.75rem / 1.6 var(--font-family-code);

  --font-size-lg: 1rem;
  --font-size-md: 0.85rem;
  --font-size-sm: 0.75rem;
  --font-size-xs: 0.65rem;

  /* borders */
  --border-radius: 3px;
  --border-width: 2px;

  /* spacing */
  --space-xs: calc((1 / 8) * var(--line-height));
  --space-sm: calc((1 / 6) * var(--line-height));
  --space-md: calc((1 / 4) * var(--line-height));
  --space-lg: calc((1 / 2) * var(--line-height));
  --space-xl: calc((1 / 1) * var(--line-height));

  /* misc */
  /* TODO: --hero-shadow --hero-chair */
  --bg-opacity: 0.25;

  /* --hero-shadow: color.darken(var(--color-primary), 15%); */
  /* --hero-chari: color.rgba(color.lighten(var(--color-primary), 25%), 0.5); */
}

[data-theme="dark"] {
  --color-body: var(--color-black);
  --color-text: var(--color-true-white);
  --color-primary: var(--color-purple);
  --color-accent: var(--color-white);
  --color-info: var(--color-purple);

  /* --bg-card: color.lighten(var(--color-body), 10%); */
  /* --bg-code-inline: color.lighten(var(--color-body), 45%); */
}

* {
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

@supports (scrollbar-width: thin) and (scrollbar-color: var(--color-primary) var(--color-dark)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-dark);
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
  :root {
    --font-size: 18px;
    --line-height: 1.625;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size: 20px;
    --line-height: 1.75;
  }
}

html {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-body);
  color: var(--color-text);
  transition: background-color 0.3s ease 0s;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', Georgia, serif;
}