@tailwind base;

@layer base {
  :root {
    --space-xs: calc((1 / 8) * theme('lineHeight.normal') * 1rem);
    --space-sm: calc((1 / 6) * theme('lineHeight.normal') * 1rem);
    --space-md: calc((1 / 4) * theme('lineHeight.normal') * 1rem);
    --space-lg: calc((1 / 2) * theme('lineHeight.normal') * 1rem);
    --space-xl: calc((1 / 1) * theme('lineHeight.normal') * 1rem);
  }
}
